@media only screen and (min-width: 769px) {
  header.header div.header__img img.header__logo {
    max-width: 20% !important;
  }
  div.operation div.operation__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.restaurants div.section {
    width: 80% !important;
  }
  div.grid-restaurant {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
        grid-template-areas: ". ." ". .";
  }
  div.grid-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    gap: 0px 30px;
        grid-template-areas: ". . .";
  }
  footer {
    padding: 30px 20px;
    color: white;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer ul li {
    list-style-type: none;
    margin: 10px 30px !important;
  }
  footer ul li i.fas.fa-utensils {
    margin-right: 18px;
  }
  footer ul li i {
    margin-right: 10px;
  }
  footer ul li a {
    color: white;
  }
  footer img {
    width: 110px;
    margin-bottom: 10px;
  }
}
