@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Shrikhand', cursive;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

header.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header.header div.header__img {
  display: flex;
}

header.header div.header__img a {
  align-self: center;
}

header.header div.header__img a i.fas.fa-arrow-left {
  font-size: 1.4rem;
  align-self: center;
  margin-left: 20px;
  color: #353535;
}

header.header div.header__img img.header__logo {
  display: flex;
  padding: 20px 0;
  max-width: 200px;
  margin: 0 auto;
}

footer {
  background: #353535;
  padding: 30px 20px;
  color: white;
}

footer ul {
  display: flex;
  justify-content: space-between;
}

footer ul li {
  list-style-type: none;
  margin: 10px 0px;
}

footer ul li svg {
  width: 18px;
  margin-right: 18px;
}

footer ul li a {
  color: white;
}

footer img {
  width: 110px;
  margin-bottom: 20px;
}

div.container {
  background: white;
}

div.search div.search__title {
  margin-top: 5px;
  height: 50px;
  border: 0;
  width: 100%;
  background: #eaeaea;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.search div.search__title img {
  width: 5%;
  color: #353535;
  margin-right: 10px;
}

div.menu div.menu__img {
  height: 250px;
}

div.menu div.menu__img.bg-palette {
  background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

div.menu div.menu__img.bg-delice {
  background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

div.menu div.menu__img.bg-french {
  background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

div.menu div.menu__img.bg-note {
  background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

div.menu div.menu__select {
  background: #f6f6f6;
}

div.menu div.menu__select div.section {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
}

div.menu div.menu__select div.section div.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.menu div.menu__select div.section div.menu__top h1.menu__title {
  margin-top: 30px;
  font-size: 2rem;
}

div.menu div.menu__select div.section div.menu__top div.menu__heart {
  font-size: 2rem;
}

div.menu div.menu__select div.section div.menu__top div.menu__heart i {
  position: relative;
  top: 13px;
}

div.menu div.menu__select div.section div.menu__item p.item__title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 7px;
}

div.menu div.menu__select div.section div.menu__item div.item__underline {
  width: 30px;
  height: 3px;
  background: #99E2D0;
  margin-bottom: 20px;
}

div.menu div.menu__select div.section div.menu__item div.item__card {
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: pointer;
}

div.menu div.menu__select div.section div.menu__item div.item__card .item__desc {
  font-weight: 300;
  padding: 20px 10px;
}

div.menu div.menu__select div.section div.menu__item div.item__card .item__desc p.desc__title {
  font-weight: bold;
  margin-bottom: 12px;
}

div.menu div.menu__select div.section div.menu__item div.item__card .item__price {
  display: flex;
  align-self: flex-end;
  font-weight: bold;
  color: #353535;
  margin-right: 30px;
  padding: 20px 0px;
}

div.menu div.menu__select div.section div.menu__item div.item__card .selected__dish {
  background: #99E2D0;
  display: flex;
  width: 60px;
  justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

div.menu div.menu__select div.section div.menu__item div.item__card .selected__dish i {
  font-size: 1.6rem;
  color: white;
  align-self: center;
}

div.menu div.menu__select div.section div.order {
  width: 50%;
  margin: 30px auto;
}

div.menu div.menu__select div.section div.order div.btn {
  border: 0;
  padding: 20px 25px;
  background: #e16fda;
  background: linear-gradient(180deg, #e16fda 0%, #c466db 50%, #a15bdc 100%);
  color: white;
  margin-top: 30px;
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  border-radius: 35px;
  box-shadow: 1px 5px 8px -4px #000000;
  cursor: pointer;
}

div.explorer {
  margin: 0 auto;
  background: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 60px;
}

div.explorer h1.explorer__title {
  font-family: 'Roboto', sans-serif;
  margin: 40px auto 10px;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  width: 75%;
  line-height: 28px;
}

div.explorer p.explorer__desc {
  width: 74%;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}

div.explorer div.explorer__link {
  display: flex;
  justify-content: center;
}

div.explorer div.explorer__link div.explorer__btn {
  border: 0;
  padding: 15px 25px;
  background: #e370da;
  background: linear-gradient(180deg, #e370da 0%, #a25bdc 100%);
  color: white;
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  border-radius: 35px;
  box-shadow: 1px 5px 8px -4px #000000;
}

div.explorer div.explorer__link div.explorer__btn a {
  color: white;
}

div.operation {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
}

div.operation p.operation__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 30px;
}

div.operation div.operation__group {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

div.operation div.operation__group .choice {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-left: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

div.operation div.operation__group .choice--bg:hover {
  background: #f5edff;
}

div.operation div.operation__group .choice--bg:hover svg {
  color: #9356DC;
}

div.operation div.operation__group .choice i {
  color: #7e7e7e;
  font-size: 1.3rem;
}

div.operation div.operation__group .choice svg {
  color: #7e7e7e;
}

div.operation div.operation__group .choice svg.restau {
  width: 15px;
}

div.operation div.operation__group .choice svg.list {
  width: 20px;
}

div.operation div.operation__group .choice svg.store {
  width: 20px;
}

div.operation div.operation__group .choice div.number {
  position: relative;
  right: 10px;
  background: #9356DC;
  border-radius: 50%;
  color: #fff;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

div.operation div.operation__group .choice p {
  padding: 25px;
  font-weight: 700;
}

div.restaurants {
  padding-top: 20px;
  background: #f6f6f6;
}

div.restaurants div.restaurants__section {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
}

div.restaurants div.restaurants__section p.restaurant__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

div.restaurants div.restaurants__section div.grid__restaurant {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

div.restaurants div.restaurants__section div.card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 20px;
}

div.restaurants div.restaurants__section div.card div.card__img {
  display: flex;
  justify-content: flex-end;
  height: 190px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

div.restaurants div.restaurants__section div.card div.card__img div.card__new {
  margin-top: 15px;
  width: fit-content;
  padding: 5px 10px;
  font-size: 0.9rem;
  background: #99E2D0;
  height: fit-content;
  height: 31px;
  margin-right: 15px;
  border-radius: 2px;
  color: #008766;
}

div.restaurants div.restaurants__section div.card div.card__img.palette {
  background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

div.restaurants div.restaurants__section div.card div.card__img.note {
  background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

div.restaurants div.restaurants__section div.card div.card__img.french {
  display: flex;
  justify-content: flex-end;
  background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

div.restaurants div.restaurants__section div.card div.card__img.delice {
  display: flex;
  justify-content: flex-end;
  background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

div.restaurants div.restaurants__section div.card div.card__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

div.restaurants div.restaurants__section div.card div.card__content div.card__title p {
  margin: 20px 20px 0;
  font-weight: bold;
  font-size: 1.2rem;
}

div.restaurants div.restaurants__section div.card div.card__content div.card__title p.card__district {
  margin: 0px 20px;
  font-weight: 300;
}

div.restaurants div.restaurants__section div.card div.card__content div.card__heart {
  font-size: 1.8rem;
  margin-right: 30px;
  align-self: center;
}

div.restaurants div.restaurants__section div.card div.card__content div.card__heart i.fas.fa-heart {
  cursor: pointer;
  position: relative;
  left: 38px;
  opacity: 0;
  color: #9356DC;
  font-size: 2rem;
  top: 1px;
}

div.restaurants div.restaurants__section div.card div.card__content div.card__heart i.fas.fa-heart:hover {
  opacity: 1;
}

header.header div.header__img img.header__logo {
  width: 35%;
}

.menu {
  background: #f6f6f6;
}

.menu .menu__img.bg-french, .menu .menu__img.bg-palette, .menu .menu__img.bg-note, .menu .menu__img.bg-delice {
  height: 330px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.menu .menu__img.bg-french .border, .menu .menu__img.bg-palette .border, .menu .menu__img.bg-note .border, .menu .menu__img.bg-delice .border {
  height: 40px;
  background: #f6f6f6;
  display: flex;
  justify-content: end;
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.menu .menu__select {
  border-radius: 30px 30px 0 0;
}

.menu .menu__select .menu__section {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1px;
}

.menu .menu__select .menu__section .menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .menu__select .menu__section .menu__top .menu__title {
  font-size: 1.7rem;
  font-family: "Shrikhand", cursive;
}

.menu .menu__select .menu__section .menu__top .menu__heart {
  align-self: flex-end;
  position: relative;
  bottom: 10px;
}

.menu .menu__select .menu__section .menu__top .menu__heart .far {
  font-size: 1.9rem;
  position: relative;
  top: 3px;
  right: 20px;
}

.menu .menu__select .menu__section .menu__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 30px;
  grid-template-areas: ". . .";
}

.menu .menu__select .menu__section .menu__item .item__title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 7px;
}

.menu .menu__select .menu__section .menu__item .item__underline {
  width: 30px;
  height: 3px;
  background: #99e2d0;
  margin-bottom: 20px;
}

.menu .menu__select .menu__section .menu__item .item__card {
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu .menu__select .menu__section .menu__item .item__card .item__desc {
  font-weight: 300;
  padding: 20px 10px;
  font-size: 0.8rem;
}

.menu .menu__select .menu__section .menu__item .item__card .item__desc .desc__title {
  font-weight: bold;
}

.menu .menu__select .menu__section .menu__item .item__card .item__price {
  display: flex;
  align-self: flex-end;
  font-weight: bold;
  color: #353535;
  margin-right: 30px;
  padding: 20px 0px;
  font-size: 0.8rem;
}

.menu .menu__select .menu__section .order .order__btn {
  padding: 15px 25px;
  border: 0;
  background: #e370da;
  background: linear-gradient(180deg, #e370da 0%, #a25bdc 100%);
  color: white;
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  border-radius: 35px;
  box-shadow: 1px 5px 8px -4px #000000;
  cursor: pointer;
  max-width: 45%;
  margin: 40px auto;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
  div.grid-restaurant {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
    grid-template-areas: "." ".";
  }
  .menu .menu__select .menu__section .menu__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 30px;
    grid-template-areas: "." "." ".";
  }
}

@media only screen and (min-width: 769px) {
  div.restaurants div.section.operation div.group {
    display: flex;
    flex-direction: row;
  }
  div.restaurants div.section.operation div.grid-restaurant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
    grid-template-areas: ". ." ". .";
  }
}

.container {
  margin: 0 auto;
}

button {
  cursor: pointer;
  box-shadow: 1px 5px 8px -4px #000000;
}

div {
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 768px) {
  header.header div.header__img img.header__logo {
    width: 165px;
  }
  div.search div.search__title img.icon-marker {
    width: 15px;
    position: relative;
    bottom: 5px;
    right: 15px;
  }
  div.search div.search__title img {
    margin-right: 0;
  }
  footer ul.footer-grid {
    display: flex;
    flex-direction: column;
  }
}
