@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Shrikhand", cursive;
}

p {
  font-family: "Roboto", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

button {
  cursor: pointer;
  -webkit-box-shadow: 1px 5px 21px -4px #000000;
  box-shadow: 1px 5px 8px -4px #000000;
}

div {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header div {
  display: flex;
  margin: 0 auto;
}
header div a {
  align-self: center;
}
header div a i.fas.fa-arrow-left {
  font-size: 1.8rem;
  align-self: center;
  margin-left: 20px;
}
header div img.logo {
  display: flex;
  padding: 20px 0;
  width: 45%;
  margin: 0 auto;
}

div.menu div.menu__img {
  height: 250px;
}
div.menu div.menu__img.bg-palette {
  background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
div.menu div.menu__img.bg-delice {
  background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
div.menu div.menu__img.bg-french {
  background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
div.menu div.menu__img.bg-note {
  background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
div.menu div.menu__select {
  background: #f6f6f6;
}
div.menu div.menu__select section div.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.menu div.menu__select section div.menu__top h1.menu__title {
  margin-top: 30px;
  font-size: 2rem;
}
div.menu div.menu__select section div.menu__top div.menu__heart {
  font-size: 2rem;
}
div.menu div.menu__select section div.menu__top div.menu__heart i {
  position: relative;
  top: 13px;
}
div.menu div.menu__select section div.menu__item p.item__title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 7px;
}
div.menu div.menu__select section div.menu__item div.item__underline {
  width: 30px;
  height: 3px;
  background: #99E2D0;
  margin-bottom: 20px;
}
div.menu div.menu__select section div.menu__item div.item__card {
  display: flex;
  padding: 20px 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
}
div.menu div.menu__select section div.menu__item div.item__card .item__desc {
  font-weight: 300;
}
div.menu div.menu__select section div.menu__item div.item__card .item__desc p.desc__title {
  font-weight: bold;
  margin-bottom: 12px;
}
div.menu div.menu__select section div.menu__item div.item__card .item__price {
  display: flex;
  align-self: flex-end;
  font-weight: bold;
  color: #353535;
  margin-right: 30px;
}

div input {
  margin-top: 5px;
  height: 50px;
  border: 0;
  width: 100%;
  background: #eaeaea;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #353535;
}
div input::placeholder {
  color: #353535;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  content: "";
}
div input::-webkit-input-placeholder::before {
  content: "";
  background-image: url("../icons/map-marker-alt.svg");
}
div :focus {
  outline: none;
}
div :focus::placeholder {
  color: transparent;
}

div.explorer {
  margin: 0 auto;
  background: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 60px;
}
div.explorer p.title {
  margin: 40px auto 10px;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  width: 75%;
}
div.explorer p.desc {
  width: 74%;
  margin: 0 auto;
  text-align: center;
  color: black;
  font-weight: 300;
}
div.explorer div {
  display: flex;
  justify-content: center;
}
div.explorer div button.btn {
  border: 0;
  padding: 20px 25px;
  background: #e370da;
  background: linear-gradient(180deg, #e370da 0%, #a25bdc 100%);
  color: white;
  margin-top: 30px;
  text-align: center;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  border-radius: 35px;
}

section {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 40px;
}
section p.title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 30px;
}
section div.group {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
section div.group div.choice {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
section div.group div.choice--restaurants:hover {
  background: #f5edff;
}
section div.group div.choice--restaurants:hover i {
  color: #9356DC;
}
section div.group div.choice i {
  color: #7e7e7e;
}
section div.group div.choice div.number {
  position: relative;
  right: 10px;
  background: #9356DC;
  border-radius: 50%;
  color: #fff;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
section div.group div.choice p {
  padding: 30px;
  font-weight: 700;
}

div.restaurants {
  padding-top: 30px;
  background: #f6f6f6;
}
div.restaurants section p.title {
  margin-bottom: 20px;
}
div.restaurants section div.card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-bottom: 20px;
}
div.restaurants section div.card div.card__img {
  display: flex;
  justify-content: flex-end;
  height: 190px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
div.restaurants section div.card div.card__img div.card__new {
  margin-top: 15px;
  width: fit-content;
  padding: 5px 10px;
  font-size: 0.9rem;
  background: #99E2D0;
  height: fit-content;
  margin-right: 15px;
  border-radius: 2px;
  color: #008766;
}
div.restaurants section div.card div.card__img.palette {
  background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
div.restaurants section div.card div.card__img.note {
  background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
div.restaurants section div.card div.card__img.french {
  display: flex;
  justify-content: flex-end;
  background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
div.restaurants section div.card div.card__img.delice {
  display: flex;
  justify-content: flex-end;
  background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
div.restaurants section div.card div.card__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
div.restaurants section div.card div.card__content div.card__title p {
  margin: 20px 20px 0;
  font-weight: bold;
  font-size: 1.2rem;
}
div.restaurants section div.card div.card__content div.card__title p.card__district {
  margin: 0px 20px;
  font-weight: 300;
}
div.restaurants section div.card div.card__content div.card__heart {
  font-size: 1.8rem;
  margin-right: 30px;
  align-self: center;
}
div.restaurants section div.card div.card__content div.card__heart i.fas.fa-heart {
  cursor: pointer;
  position: relative;
  left: 38px;
  opacity: 0;
  color: #9356DC;
  font-size: 2rem;
  top: 1px;
}
div.restaurants section div.card div.card__content div.card__heart i.fas.fa-heart:hover {
  opacity: 1;
}

footer {
  background: #353535;
  padding: 30px 20px;
  color: white;
}
footer ul li {
  list-style-type: none;
  margin: 10px 0;
}
footer ul li i.fas.fa-utensils {
  margin-right: 18px;
}
footer ul li i {
  margin-right: 10px;
}
footer ul li a {
  color: white;
}
footer img {
  width: 110px;
  margin-bottom: 10px;
}

/*# sourceMappingURL=mobile.css.map */
