@media only screen and (max-width: 1024px) and (orientation: landscape), only screen and (max-width: 1024px) and (orientation: landscape) and (min-resolution: 1dppx) {
  .container {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (orientation: portrait), only screen and (min-width: 768px) and (orientation: portrait) and (min-resolution: 1dppx) {
  .container {
    width: 100%;
  }
  div.container .menu .menu__select .menu__section div.menu__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
    -ms-grid-rows: 1fr 1fr !important;
        grid-template-rows: 1fr 1fr !important;
    gap: 30px 30px;
        grid-template-areas: ". ."
 ". .";
  }
}
