@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
@media only screen and (min-width: 768px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .container * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container html {
    scroll-behavior: smooth;
  }
  .container h1 {
    font-family: "Shrikhand", cursive;
  }
  .container p {
    font-family: "Roboto", sans-serif;
  }
  .container a {
    color: black;
    text-decoration: none;
  }
  .container .container {
    margin: 0 auto;
  }
  .container button {
    cursor: pointer;
    -webkit-box-shadow: 1px 5px 21px -4px #000000;
    box-shadow: 1px 5px 8px -4px #000000;
  }
  .container div {
    font-family: "Roboto", sans-serif;
  }
  .container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .container header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container header div a {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .container header div a i.fas.fa-arrow-left {
    font-size: 1.1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 20px;
    color: #353535;
  }
  .container header div img.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0;
    width: 45%;
    margin: 0 auto;
  }
  .container div.menu div.menu__img {
    height: 250px;
  }
  .container div.menu div.menu__img.bg-palette {
    background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }
  .container div.menu div.menu__img.bg-delice {
    background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }
  .container div.menu div.menu__img.bg-french {
    background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }
  .container div.menu div.menu__img.bg-note {
    background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }
  .container div.menu div.menu__select {
    background: #f6f6f6;
  }
  .container div.menu div.menu__select div.section {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .container div.menu div.menu__select div.section div.menu__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container div.menu div.menu__select div.section div.menu__top h1.menu__title {
    margin-top: 30px;
    font-size: 2rem;
  }
  .container div.menu div.menu__select div.section div.menu__top div.menu__heart {
    font-size: 2rem;
  }
  .container div.menu div.menu__select div.section div.menu__top div.menu__heart i {
    position: relative;
    top: 13px;
  }
  .container div.menu div.menu__select div.section div.menu__item p.item__title {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 7px;
  }
  .container div.menu div.menu__select div.section div.menu__item div.item__underline {
    width: 30px;
    height: 3px;
    background: #99e2d0;
    margin-bottom: 20px;
  }
  .container div.menu div.menu__select div.section div.menu__item div.item__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .container div.menu div.menu__select div.section div.menu__item div.item__card .item__desc {
    font-weight: 300;
    padding: 20px 10px;
  }
  .container div.menu div.menu__select div.section div.menu__item div.item__card .item__desc p.desc__title {
    font-weight: bold;
    margin-bottom: 12px;
  }
  .container div.menu div.menu__select div.section div.menu__item div.item__card .item__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-weight: bold;
    color: #353535;
    margin-right: 30px;
    padding: 20px 0px;
  }
  .container div.menu div.menu__select div.section div.menu__item div.item__card .selected__dish {
    background: #99e2d0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .container div.menu div.menu__select div.section div.menu__item div.item__card .selected__dish i {
    font-size: 1.6rem;
    color: white;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .container div.menu div.menu__select div.section div.order {
    width: 50%;
    margin: 30px auto;
  }
  .container div.menu div.menu__select div.section div.order div.btn {
    border: 0;
    padding: 20px 25px;
    background: #e370da;
    background: -webkit-gradient(linear, left top, left bottom, from(#e370da), to(#a25bdc));
    background: linear-gradient(180deg, #e370da 0%, #a25bdc 100%);
    color: white;
    margin-top: 30px;
    text-align: center;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    border-radius: 35px;
    -webkit-box-shadow: 1px 5px 8px -4px #000000;
            box-shadow: 1px 5px 8px -4px #000000;
    cursor: pointer;
  }
  .container div input {
    margin-top: 5px;
    height: 50px;
    border: 0;
    width: 100%;
    background: #eaeaea;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #353535;
  }
  .container div input::-webkit-input-placeholder {
    color: #353535;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    content: "";
  }
  .container div input:-ms-input-placeholder {
    color: #353535;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    content: "";
  }
  .container div input::-ms-input-placeholder {
    color: #353535;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    content: "";
  }
  .container div input::placeholder {
    color: #353535;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    content: "";
  }
  .container div :focus {
    outline: none;
  }
  .container div :focus::-webkit-input-placeholder {
    color: transparent;
  }
  .container div :focus:-ms-input-placeholder {
    color: transparent;
  }
  .container div :focus::-ms-input-placeholder {
    color: transparent;
  }
  .container div :focus::placeholder {
    color: transparent;
  }
  .container div.explorer {
    margin: 0 auto;
    background: #f6f6f6;
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .container div.explorer h2.title {
    margin: 40px auto 10px;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    width: 75%;
  }
  .container div.explorer p.desc {
    width: 74%;
    margin: 0 auto;
    text-align: center;
    color: black;
    font-weight: 300;
  }
  .container div.explorer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container div.explorer div div.btn {
    border: 0;
    padding: 20px 25px;
    background: #e370da;
    background: -webkit-gradient(linear, left top, left bottom, from(#e370da), to(#a25bdc));
    background: linear-gradient(180deg, #e370da 0%, #a25bdc 100%);
    color: white;
    margin-top: 30px;
    text-align: center;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    border-radius: 35px;
    -webkit-box-shadow: 1px 5px 8px -4px #000000;
            box-shadow: 1px 5px 8px -4px #000000;
  }
  .container div.explorer div div.btn a {
    color: white;
  }
  .container div.section.operation {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .container div.section.operation p.title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 30px;
  }
  .container div.section.operation div.group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
  .container div.section.operation div.group div.choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f6f6f6;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
  }
  .container div.section.operation div.group div.choice--bg:hover {
    background: #f5edff;
  }
  .container div.section.operation div.group div.choice--bg:hover i {
    color: #9356dc;
  }
  .container div.section.operation div.group div.choice i {
    color: #7e7e7e;
    font-size: 1.3rem;
  }
  .container div.section.operation div.group div.choice div.number {
    position: relative;
    right: 10px;
    background: #9356dc;
    border-radius: 50%;
    color: #fff;
    height: 25px;
    width: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
  }
  .container div.section.operation div.group div.choice p {
    padding: 30px;
    font-weight: 700;
  }
  .container div.restaurants {
    padding-top: 20px;
    background: #f6f6f6;
  }
  .container div.restaurants div.section {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .container div.restaurants div.section p.title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .container div.restaurants div.section div.grid-restaurant {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
        grid-template-areas: ". ." ". .";
  }
  .container div.restaurants div.section div.grid-restaurant a div.card {
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 20px;
  }
  .container div.restaurants div.section div.grid-restaurant a div.card div.card__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 190px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .container div.restaurants div.section div.grid-restaurant a div.card div.card__img div.card__new {
    margin-top: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px 10px;
    font-size: 0.9rem;
    background: #99e2d0;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 15px;
    border-radius: 2px;
    color: #008766;
  }
  .container div.restaurants div.section div.grid-restaurant a div.card div.card__img.palette {
    background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }
  .container div.restaurants div.section div.grid-restaurant a div.card div.card__img.note {
    background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }
  .container div.restaurants div.section div.grid-restaurant a div.card div.card__img.french {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }
  .container div.restaurants div.section div.grid-restaurant a div.card div.card__img.delice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: cover;
    background-position: center;
  }
  .container div.restaurants div.section div.grid-restaurant a div.card div.card__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px;
  }
  .container div.restaurants div.section div.grid-restaurant a div.card div.card__content div.card__title p {
    margin: 20px 20px 0;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .container div.restaurants div.section div.grid-restaurant a div.card div.card__content div.card__title p.card__district {
    margin: 0px 20px;
    font-weight: 300;
  }
  .container div.restaurants div.section div.grid-restaurant a div.card div.card__content div.card__heart {
    font-size: 1.8rem;
    margin-right: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .container div.restaurants div.section div.grid-restaurant a div.card div.card__content div.card__heart i.fas.fa-heart {
    cursor: pointer;
    position: relative;
    left: 38px;
    opacity: 0;
    color: #9356dc;
    font-size: 2rem;
    top: 1px;
  }
  .container div.restaurants div.section div.grid-restaurant a div.card div.card__content div.card__heart i.fas.fa-heart:hover {
    opacity: 1;
  }
  .container footer {
    background: #353535;
    padding: 30px 20px;
    color: white;
  }
  .container footer ul li {
    list-style-type: none;
    margin: 10px 0;
  }
  .container footer ul li i.fas.fa-utensils {
    margin-right: 18px;
  }
  .container footer ul li i {
    margin-right: 10px;
  }
  .container footer ul li a {
    color: white;
  }
  .container footer img {
    width: 110px;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=desktop.css.map */