@media only screen and (min-width: 769px) {
    header.header div.header__img img.header__logo {
        max-width:20%!important;
    }
    div.operation div.operation__group {
        display:flex;
        flex-direction: row!important;
        justify-content: center;
    }

    div.restaurants div.section {
        width: 80%!important;
    }
    div.grid-restaurant {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px 30px;
        grid-template-areas:
            ". ."
            ". .";
    }

    footer {
        // background:$footer;
        padding:30px 20px;
        color:white;
        ul {
            display:flex;
            li{
                list-style-type: none;
                margin:10px 30px!important;
                i.fas.fa-utensils{
                    margin-right:18px;
                }
                i{
                    margin-right:10px;
                }
                a{
                    color:white;
                }
            }
        }
        img {
            width:110px;
            margin-bottom:10px;
        }
    
    }
}