@media only screen and (min-width: 768px) {
    header.header div.header__img img.header__logo {
        max-width:20%!important;
    }
    div.operation div.operation__group {
        display:flex;
        flex-direction: row!important;
        justify-content: center;
    }

    div.restaurants div.section {
        width: 80%!important;
    }
    div.container div.restaurants div.restaurants__section div.grid__restaurant {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px 30px;
        grid-template-areas:
            ". ."
            ". .";
    }
    div.menu__grid {
        
    }
    div.order {
        div.order__btn {
            max-width: 30%;
        }
    }

    footer {
        // background:$footer;
        padding:30px 20px;
        color:white;
        ul {
            display:flex;
            li.desk{
                list-style-type: none;
                margin:10px 30px!important;
                i.fas.fa-utensils{
                    margin-right:18px;
                }
                i{
                    margin-right:10px;
                }
                a{
                    color:white;
                }
            }
        }
        img {
            width:110px;
            margin-bottom:10px;
        }
    
    }

    .menu { 

        .menu__img { 
    
        }
    
        .menu__select { 
    
            .menu__section { 
    
                .menu__top { 
    
                    .menu__title { 
    
                    }
    
                    .menu__heart { 
    
                        .far { 
    
                        }
                    }
                }
    
                div.menu__grid { 
                    display: grid!important;
                    grid-template-columns: 1fr 1fr 1fr!important;
                    grid-template-rows: 1fr;
                    gap: 0px 10px;
                    grid-template-areas:
                        ". . .";
                    .menu__item { 
    
                        .item__title { 
    
                        }
    
                        .item__underline { 
    
                        }
    
                        .item__card { 
    
                            .item__desc { 
    
                                .desc__title { 
    
                                }
    
                                p { 
    
                                }
                            }
    
                            .item__price { 
    
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1024px) and (orientation: landscape) and (min-resolution: 1dppx) {

}