
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@import 'base/_reset.scss';
@import 'abstracts/_variables.scss';
@import 'base/_typography.scss';
@import 'components/_buttons.scss';

@import 'layout/_header.scss';
@import 'layout/_footer.scss';

@import 'pages/_home.scss';
@import 'pages/_menu.scss';
@import 'media/_media.scss';



.container {
    margin:0 auto; 
}
button {
    cursor:pointer;
 
    box-shadow: 1px 5px 8px -4px #000000;
}
div {
    font-family:'Roboto', sans-serif;
}




@media only screen and (max-width:768px) {
    header.header div.header__img img.header__logo {
        width:165px;
    } 
    
    
    div.search div.search__title img.icon-marker {
        width:15px;
        position: relative;
        bottom: 5px;
        right:15px;
    }

    div.search div.search__title img {
        margin-right:0;
    }

    footer ul.grid-footer {
        display:flex;
        flex-direction: column;

    }
    footer ul.grid-footer ul li svg {
        height: 15px;
        margin-right: 18px;
    }
    footer ul.grid-footer ul li svg.partenaire {
        margin-right:11px;
    }
    .menu .menu__select .menu__section .menu__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap:0px;
    }
    
    
    
}