* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
  

body {
    background:orange;
}

.container {
    width:90%;
    background:orangered;
    margin:0 auto;
}

@media only screen and (max-width:768px) {

}