
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@import 'base/_reset.scss';
@import 'abstracts/_variables.scss';
@import 'base/_typography.scss';
@import 'components/_buttons.scss';

@import 'layout/_header.scss';
@import 'layout/_footer.scss';

@import 'pages/_home.scss';
@import 'media/_media.scss';



.container {
    margin:0 auto; 
}
button {
    cursor:pointer;
    -webkit-box-shadow: 1px 5px 21px -4px #000000; 
    box-shadow: 1px 5px 8px -4px #000000;
}
div {
    font-family:'Roboto', sans-serif;
}




@media only screen and (max-width:768px) {
    
    
    
    
    
    
}