.container {
  max-width: 1600px;
  margin:0 auto;
}

@media only screen and (min-width: 768px) {
  div.operation p.operation__title {text-align: center;}
  div.search div.search__title img.icon-marker {
    width: 15px;
    position: relative;
    bottom: 5px;
    right: 15px;
  }
  header.header div.header__img img.header__logo {
    width: 165px;
  }
  div.operation div.operation__group {
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
  }
  div.item__menu .desc__subtitle {
    font-size:0.9rem;
  }

  div.restaurants div.section {
    width: 80% !important;
  }
  div.container div.restaurants div.restaurants__section div.grid__restaurant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
    grid-template-areas:
      ". ."
      ". .";
  }

  div.order {
    div.order__btn {
      max-width: 30%;
    }
  }

  div.container footer {
    // background:$footer;
    padding: 30px 20px;
    color: white;
    ul {
      display: flex;
      li {
        list-style-type: none;
        margin: 10px 30px;
        margin-left: 0;
        width: 25%;
        a {
          color: white;
        }
      }
    }
    img {
      width: 110px;
      margin-bottom: 10px;
    }
  }

  div.explorer div.explorer__link div.explorer__btn:hover {
    background: linear-gradient(1deg, #9256dcde 0%, #ff79d9d5 100%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

    .menu {
        .menu__select {
            .menu__section {
                div.menu__grid {
                    display: grid !important;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr;
                    gap: 0px 30px;
                    grid-template-areas: ". . .";
                
                }
            }
        }
    }
  }


@media only screen and (max-width: 1024px) and (orientation: landscape) and (min-resolution: 1dppx) {
}


@media only screen and (min-width: 768px) and (max-width: 1200px) {
  div.container div.menu div.menu__select .menu__section div.menu__grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". .";

  }

  div.operation div.operation__group {
    display: grid;
    
  }
}