@media only screen and (max-width:768px) {
    .container {width:100%;}
    .menu__select .menu__section .menu__grid .item__card .item__group .item__menu .desc__subtitle p {
        font-size:0.8rem;
    }
    div.grid-restaurant {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 30px 30px;
        grid-template-areas:
            "."
            ".";
    }
    .menu .menu__select .menu__section .menu__grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 30px 30px;
        grid-template-areas:
            "."
            "."
            ".";
    }
}

@media only screen and (min-width: 769px) {
    div.restaurants {
        div.section.operation {
            div.group {
                display: flex;
                flex-direction: row;
            }
            
            div.grid-restaurant {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 30px 30px;
                grid-template-areas:
                    ". ."
                    ". .";
            }
        }
        
    }
}