.menu { 

	.menu__img { 

	}

	.menu__select { 

		.section { 

			.menu__top { 

				.menu__title { 
                    margin-top: 30px;
                    font-size: 2rem;
                    font-family: 'Shrikhand', cursive;

				}

				.menu__heart { 

					.far { 

					}
				}
			}

			.menu__item { 

				.item__title { 

				}

				.item__underline { 

				}

				.item__card { 

					.item__desc { 

						.desc__title { 

						}

						p { 

						}
					}

					.item__price { 

					}
				}
			}

			.order { 

				.btn { 

				}
			}
		}
	}
}