header.header div.header__img img.header__logo {
  width: 35%;
}

.menu {
  background: rgb(246, 246, 246);
  .menu__img.bg-french, .menu__img.bg-palette, .menu__img.bg-note, .menu__img.bg-delice {
    height:330px;
  }

  .menu__select {
    border-radius: 30px 30px 0 0;
    position: relative;
    bottom: 60px;
    .menu__section {
      width: 90%;
      margin: 0 auto;
      padding-bottom: 40px;

      .menu__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu__grid{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          gap: 0px 30px;
          grid-template-areas:
            ". . .";
        }

        .menu__title {
          margin-top: 30px;
          font-size: 1.7rem;
          font-family: "Shrikhand", cursive;
        }

        .menu__heart {
          align-self: flex-end;
          position: relative;
          bottom: 10px;

          .far {
            font-size: 1.9rem;
            position: relative;
            top: 3px;
            right: 20px;
          }
        }
      }

      .menu__item {
        .item__title {
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 300;
          margin-top: 30px;
          margin-bottom: 7px;
        }

        .item__underline {
          width: 30px;
          height: 3px;
          background: #99e2d0;
          margin-bottom: 20px;
        }

        .item__card {
          display: flex;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          border-radius: 20px;
          justify-content: space-between;
          margin-bottom: 10px;
          cursor: pointer;

          .item__desc {
            font-weight: 300;
            padding: 20px 10px;
            font-size:0.8rem;

            .desc__title {
              font-weight: bold;
              
            }

            p {}
          }

          .item__price {
            display: flex;
            align-self: flex-end;
            font-weight: bold;
            color: #353535;
            margin-right: 30px;
            padding: 20px 0px;
            font-size:0.8rem;
          }
        }
      }

      .order {
        .order__btn {
          padding: 15px 25px;
          border: 0;
          background: #e370da;
          background: linear-gradient(180deg, #e370da 0%, #a25bdc 100%);
          color: white;
          text-align: center;
          font-size: 1rem;
          font-family: "Roboto", sans-serif;
          border-radius: 35px;
          box-shadow: 1px 5px 8px -4px #000000;
          cursor: pointer;
          max-width: 45%;
          margin: 40px auto;
        }
      }
    }
  }
}