footer {
    background:$footer;
    padding:30px 20px;
    color:white;

    ul {
        display:flex;
        justify-content: space-between;
        li{
            list-style-type: none;
            margin:10px 0px;
            width:25%;
            svg{
                width:5%;
                margin-right:18px;
            }
            a{
                color:white;
            }
        }
    }
    img {
        width:110px;
        margin-bottom:20px;
    }

}