footer {
    background:$footer;
    padding:30px 20px;
    color:$white;

    ul.grid-footer {
        display:flex;
        justify-content: space-between;
        
        li{
            list-style-type: none;
            margin:10px 0px;
            
            svg{
                height: 15px;
                margin-right:18px;
                &.partenaire {
                    margin-right:11px;
                }
            }
            a{
                color:$white;
            }
        }
    }
    img {
        width:100px;
        margin-bottom:20px;
    }

}